body {
  font-size: 18px;
  line-height: 1.5;
}

header,
main,
nav,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header {
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
  background-color: navy;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: 2px solid navy;
}

header img {
  margin: 20px;
  width: 200px;
  height: 250px;
}

header h1 {
    margin: 20px;
}

footer {
  background-color: navy;
  color: #fff;
  text-align: center;
}

main section h2 {
    border-bottom: 2px solid black;
    margin: 10px;
}

main section p {
    text-align: left;
    border-top: 2px solid black;
    margin: 10px;
}